{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 100
  }